# Compiled Python files
*.pyc
*.pyo
__pycache__/

# Virtual environments
venv/
env/
*.env

# Compiled C extensions
*.so

# macOS specific files
.DS_Store

# Editor/IDE specific files
.idea/
.vscode/
*.swp
*~
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Compiled Java files
*.class

# Node.js dependencies
node_modules/

